@mixin ue-c-cover-content--3cols-related-links($displayFrom: desktop) {
    @each $mediaq, $value in $displayFrom {
        @include mq($mediaq) {
            .ue-c-cover-content--3cols-related-links-from-#{$mediaq} {
                .ue-c-cover-content {
                    &__related-link {
                        width: calc(100% / 3);
                        flex-grow: 1;
                        &:nth-child(-n+3) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
