@mixin ue-c-cover-content--xxs($sizeFrom: mobile) {
     @each $mediaq, $value in $sizeFrom {
        @include mq($mediaq) {
            .ue-c-cover-content--xxs-from-#{$mediaq} {
                .ue-c-cover-content {
                    &__headline-group {
                        font-size: get-font-size($ue-c-cover-content-font-scale, headline, xxs);
                        line-height: get-line-height($ue-c-cover-content-font-scale, headline, xxs);
                        letter-spacing: get-letter-spacing($ue-c-cover-content-font-scale, headline, xxs);
                    }
                }
            }
        }
    }
}